.tags
  = link_to 'All', people_path
  - tags.each do |available_tag|
    = link_to available_tag.title, people_path(tag_title: available_tag.title)

.people
  - people.each do |person|
    .person
      = person.full_name
