.tags
  = link_to 'All', people_path
  = link_to 'Consultants', people_path(tag_title: 'consultant')
  = link_to 'Lawyers', people_path(tag_title: 'lawyer')

.people
  - people.each do |person|
    .person
      = person.full_name