%h1 About
%p The Badger Entrepreneurship Forum (BEF) is an organization of University of Wisconsin alumni in the San Francisco Bay Area interested in promoting and supporting the University and its alumni. One of the BEF’s objectives is to provide events and activities to allow for Badger professionals to meet and establish connections to support entrepreneurial and business interests. Another objective is find ways to support UW, to enhance its programs, and provide opportunities for its students.

%p Membership includes professionals based in the Bay Area that are involved with the following:
%ul
  %li Entrepreneurs (founders or C-level executive) – current or past
  %li Venture Capitalists
  %li Investment Bankers
  %li Senior executives at company roles that interface with startups
  %li Service provider to startups – recruiters, lawyers, marketing/sales consultants

%p The BEF has meetings every other month, hosted by a member, with a speaker discussing a topic of interest to the group. While the speaker does not necessarily have to be a Badger, past meetings have featured University of Wisconsin graduates.
The BEF has also sponsored the Bay Area Badger Internship program which has been working to connect undergraduates from UW to Bay Area companies to provide practical experience with start-up and technology companies.

%h2 History
%p Pavan Nigam, a Bay Area based serial entrepreneur (founder/CTO Healtheon/WebMD, founder/CEO Cendura, founder/CEO Trackle), joined the UW CS Board of Visitors in 2007 and soon got re-immersed in the Badger world. During this process he also realized that the Bay Area had a significant number of very successful Badgers – entrepreneurs, CEOs, executives, venture capitalists, attorneys, investment bankers and consultants. He also observed that a disproportionate number of UW graduates were involved in starting their own companies. That led to the idea behind the Badger Entrepreneurship Forum where Badgers could leverage from each other’s experiences and networks. He cofounded this group in Nov 2009 with David Bunzel, Managing Director of the Santa Clara Consulting Group, and one of the most passionate Badgers on the West Coast. The group holds events every 2-3 months and speakers are drawn from different segments of the entrepreneurial ecosystem. Past speakers have included Entrepreneurs, public company CEOs, Investment bankers and Venture Capitalists.

%h2 Board
.row
  - board_members.each do |person|
    %span.col-md-4
      .card
        .content
          .left-side
            =image_tag(person.photo.url(:thumb), class: 'profile')
            - if person.linkedin_url.present?
              = link_to image_tag('linkedin.png', class: 'linkedin-img'), person.linkedin_url

          .right-side
            %p.name= person.full_name
            %p.title= person.title
            %p.business= person.organization