%h1 Contact Us
.row
  .col-md-4
    %p
      To contact us please e-mail the following address
      = mail_to 'info@siliconvalleybadgers.com'
  .col-md-8
    = image_tag('BascomHall.jpg', size: '450x300')