- if @person.linkedin_url.present?
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="#{@person.linkedin_url}" data-format="inline" data-related="false" data-width="300"></script>