// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

/* This is for the datetime picker */

body.active_admin .input.just_datetime_picker input.just-datetime-picker-field {
  width: auto !important;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-date {
  margin-right: 2ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-hour {
  margin-right: 1ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-minute {
  margin-left: 1ex;
}
