/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./application
 */
body { padding-top: 60px; }
/* The name is so long it doesn't collapse properly for mobile */
.navbar-brand {
  padding: 15px 10px 15px 5px;
  font-size: 17px;
}




/* DEFAULTS */

div, article, section, header, footer, nav, li {
  position:relative;
}
.group:after {
  display:block;
  height:0;
  clear:both;
  content:".";
  visibility:hidden; /* For clearing */
}
body {
  background: url(image-path("square-bg.png")) repeat 0 0;
  color: #333;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
}
::-moz-selection {
background:#b3d4fd;
}
::selection {
background:#b3d4fd;
}
/* FORMS */

input[type=text], input[type=submit], textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input, button, select, textarea {
  font-family: 'Noto Sans', sans-serif;
}

/* TYPOGRAPHY */

/*

14 / 16 =     0.875em     (14px equivalent)
16 / 16 =     1em       (16px equivalent)
18 / 16 =     1.125em     (18px equivalent)
21 / 16 =     1.3125em    (21px equivalent)
24 / 16 =     1.5em       (24px equivalent)
30 / 16 =     1.875em     (30px equivalent)

*/

html {
  font-size: 100%;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.5; /* 24px */
  margin: 0 0 .5em 0;
}
ul, ol {
  font-size: 1em; /* 16px */
  line-height: 1.5; /* 24px */
  margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
  color: #961e1f;
}
a:hover, a:active {
  color: #961e1f;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; /* reset default browser weight for our webfonts */
  font-family: 'Droid Serif', serif;
}
h1 {
  font-size: 1.5em; /* 24px */
  line-height: 2; /* 24px */
  margin-top: 1.42em;
  margin-bottom: .25em;
}
h2 {
  font-size: 1.3125em; /* 21px */
  line-height: 1.1429; /* 24px */
  margin-top: 1.1429em;
  margin-bottom: .25em;
}
h3 {
  font-size: 1.125em; /* 18px */
  line-height: 1.3333; /* 24px */
  margin-top: 1.3333em;
  margin-bottom: .25em;
}
h4 {
  font-size: 1em; /* 16px */
  line-height: 1.5; /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}
h5 {
  font-size: 0.875em; /* 14px */
  line-height: 1.7143; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}
strong {
  font-weight:normal;
  font-family: 'Noto Sans', sans-serif;
}
small {
  font-size: 0.75em; /* 12px */
  line-height: 2; /* 24px */
  margin-top: 2em;
  margin-bottom: 0em;
}
em {
  font-style: normal;
  font-family: 'Noto Sans', sans-serif;
}
.muted {
  color: #A5A5A2;
  font-family: 'Noto Sans', sans-serif;
}
.impressed {
  text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
  font-size: .875em; /* 14px */
  margin-top: 1.5em;
  font-family: 'Noto Sans',sans-serif;
  font-weight: bold;
}
.more-link:link, .more-link:visited {
  color: #961e1f;
  text-transform: uppercase;
}

.stButton .stButton_gradient {
height: 24px !important;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
height: 24px !important;
}

/* Non-semantic */

/* New Image Replacement Hack */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
.medium {
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
}

/* Navbar */

.navbar-inverse {
  min-height: 40px;
  background-repeat: repeat;
  background-color: #7a0200;
  border-color: #961e1f;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #961e1f;
  }

/* Single-Page Sections */
#headerwrap {
  background-color: black;
  width: 100%;
  min-height: 500px;
  margin-top: -20px;
  text-align:left;
}
#headerwrap article {
  margin-top: 50px;
  padding: 10px;
  background: rgba(0,0,0,.5);
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#headerwrap article .event {
  padding: 5px;
}

#headerwrap .more {
  height: 3em;
  margin-top: 15px;
}
#headerwrap .rsvp a {
  font-family: 'Droid Serif', serif;
  color: #fff;
  width: 185px;
  height: 3em;
  font-size: 1.3125em;
  padding:0.5em;
  letter-spacing: 0.05em;
  text-transform: none;
  background: #961e1f !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
}
#headerwrap .rsvp a:hover, #headerwrap .rsvp a:active {
  background: #43413e !important;
}

#static {
  width: 100%;
  background: url(/images/transparent.png) #fff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  ;
  min-height: 440px;
  margin-top: -100px;
  padding-top:160px;
}







/* Social Icons */
ul.icon {
  font-size:54px;
  margin:1em 0 0.5em 0;
}
ul.icon li {
  display:inline-block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
ul.icon li:hover {
  opacity:0.7;
}
section.single-page {
  padding: 1.75em 0; /* 76px */
}
section.single-page h1 {
  text-align: center;
  font-family:  'Droid Serif', serif;
  margin-bottom: 2em; /* 72px */
  font-size: 2.25em; /* 36px */
}
#feature {
  background: url(image-path("blurry-back-sm.jpg")) repeat-x 0 0;
  height: 415px;
  z-index: 500;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}
#feature article {
  text-align: center;
  margin-top: 85px;
  max-width: 1170px;
}
#feature-headline {
  font-family: 'Droid Serif', serif;
  text-transform: uppercase;
  color: rgba(228, 229, 229, 1);
  margin-bottom: 3%; /* 39px */
  margin-top: -.25em;
  height: 109px;
  background-size: 100% auto;
}
#feature-headline span {
  font-family: 'Droid Serif', serif;
  text-transform: lowercase;
}
#feature article p {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1.5;
  color: #fff;
}

/* Top Section, Next Event WHITE TEXT*/
.talk-speaker {
  color: white;
  font-size: 1.875em;
  line-height: 1.25;
  font-weight: bold;
}
.talk-title {
  color: white;
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: bold;
}

.talk-date {
  color: white;
  font-size: 1.3125em;
  line-height: 1.25;
  font-weight: bold;
}

.talk-sponsor {
  color: white;
  font-size: 1em;
  line-height: 1.25;
  .host {
    color: #aaa;
  }
}

.talk-location {
  padding-top:8px;
  color: white;
  font-size: 1em;
  .venue {
    color: #aaa;
  }
}
/* Events Page */
.row.event {
  padding: 30px 0;
  border: 2px solid #efefef;
  margin: 5px 0 10px 0;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px rgba(50,40,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(50,40,0,0.2);
  box-shadow: 1px 1px 2px rgba(50,40,0,0.2);
}

/* PREVIOUS EVENTS */
section#prev-speaker {
  background: url(image-path("dark-bg.png")) repeat 0 0;
}
section#prev-speaker .align {
  font-size: 6em;
  text-align: center;
}

section.single-page h1 {
  color:white;
}

.img-prev-speakers {
  width: 100%;
}

article.post {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
article .inside {
  height: 225px;
  margin: 18px 24px 24px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.prev-speaker {
  font-size: 1em;
  line-height: 1.25;
  font-weight: bold;
}
.prev-title {
  font-size: 1em;
  line-height: 1.25;
  font-weight: bold;
}

.prev-date {
  font-size: 1em;
  line-height: 1.25;
  font-weight: bold;
}

.prev-sponsor {
  font-size: 1em;
  line-height: 1.25;
}


/* PROUD BADGER SECTION */
#proud-badgers {
  background: #1a1a1a;
  color: white;
  padding:15px 0 15px 0;
}


/* Footer */

.footer-wrapper{
  height:60px;
  background: #333;
}

.footer-wrapper .container {
  padding-top: 18px;
}

.footer-wrapper small {
  color: 878787;
}

.footer-wrapper a {
  color: white;
}

.footer-wrapper a:hover {
  color: #cccccc;
}

.footer-wrapper-static {
  height:60px;
}

.footer-wrapper-static .container {
  padding-top: 18px;
}

#map-wrapper {
  margin-top: 20px;
}
footer {
  text-align: center;
  color: #1a1a1a;
  font-weight: bold;
}
footer p {
  margin-top: -130px;
}

/* Buttons */
.btn {
  font-family: 'Droid Serif', serif;
  color: #fff;
  width: 185px;
  height: 20px;
  text-shadow: none;
  font-size: 1.3125em; /* 21px */
  padding: 1em 0.5em;
  letter-spacing: 0.05em;
  margin: 4.5em auto 2em;
  display: block;
  border: 0;
  text-transform: none;
  background: #961e1f !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.btn:link, .btn:visited {
  color: #fff;
}
.btn:hover {
  background: #333 !important;
}
.navbar-inverse .btn-navbar {
  width: auto;
  height: auto;
}

.tags {
  margin-bottom: 30px;
}

.tags .active {
  font-weight: bold;
}

.card {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px 5px #E0E0E0;
  -webkit-box-shadow: 0 0 5px 5px #E0E0E0;
  box-shadow: 0 0 5px 5px #E0E0E0;
  width:270px;
  height:120px;
  margin-bottom: 20px;
  font-size: .9em;
}

.card .content {
  padding:10px;
}

.card .content img.profile {
  width:70px;
  height:70px;
  float:left;
}

.card .content .linkedin-img{
  width:70px;
  float:left;
  padding-top: 5px;
}

.left-side {
  width:30%;
  float:left;
}

.right-side {
  width:70%;
  float:right;
}

.card .content .name {
  float:clear;
  color: #4d4d4d;
  margin-left: 10px;
  font-weight: bold;
}

.card .content .title {
  color: #4d4d4d;
  margin-left: 10px;
  margin-bottom: .1em;
}

.card .content .business {
  color: #808080;
  margin-left: 10px;
}
